

a:hover {
color : Red;
 text-decoration : underline;
}

@keyframes caricamento {
from {width: 5px;}
to {widht: 150px;}
}

#barra {
  background-color: red;
  height: 100px;
  width: 5px;
  animation: caricamento 1s;
}
#barra: hover {width: 150px;
  transition: all 10s;
}

