
a:link {
 color : blue;
 text-decoration: none
}

a:visited {
 color : purple;
 text-decoration: none
}

a:hover {
color : Red;
 text-decoration : underline;
}
a:active {
 color : Red;
 text-decoration: underline;
}

@keyframes caricamento {
from {width: 5px;}
to {widht: 150px;}
}

#barra {
  background-color: red;
  height: 10px;
  width: 150px;
  animation: caricamento 10s;
}
#barra: hover {width: 150px;
  transition: all 10s;
}

